// Define variables for your color scheme

// For example:
$black: #3c3a3a;
$white: #f9f9f9;
$red: #fd1015;
$blue: #209da2;
$light-blue: rgba(32, 157, 162, 0.85);
$lighter-blue: rgba(32, 157, 162, 0.45);
$yellow: #ffc65a;
$orange: #f6ab6c;
$light-orange: rgba(246, 171, 108, 0.33);
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;
$base: rgba(246, 171, 108, 0.26);
