// Specific CSS for your home-page
body {
    background-color: white;
}

.landing-title {
    text-align: center;
    font-weight: 700;
    font-family: $headers-font;
    color: $black;
}

.contact-section{
    background-color: $light-orange;
    padding: 10px;
    display:flex;
    justify-content: space-around;
    p {
        font-weight: 700;
        color: $black;
        font-size: 12px;
        font-family: $body-font;
    }
}