// Specific CSS for your home-page
.big-container {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: $white;
}

.landing-title {
  text-align: center;
  font-weight: 700;
  font-family: $headers-font;
  color: $black;
}

.contact-section {
  background-color: $light-orange;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  p {
    font-weight: 700;
    color: $black;
    font-size: 12px;
    font-family: $body-font;
  }
}

.service-card-section {
  margin-top: 80px;
}

.row-landing {
  height: 80vh;
}
