.cart-content {
  background-color: $light-orange;
  border-radius: 20px;
  margin-top: 10px;
  padding: 20px 16px;
  h3 {
    font-family: $headers-font;
    font-size: 26px;
    font-weight: 600;
    color: $black;
  }
}

.cart-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  img {
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
  }
  h4 {
    font-size: 16px;
    font-family: $body-font;
    font-weight: 600;
  }
}

.first-part {
  position: absolute;
  left: 100px;
  top: 27px;
  p {
    margin-top: -6px;
    text-decoration: underline rgba(0, 0, 0, 0.575);
  }
}

.second-part {
  position: absolute;
  right: 0px;
  top: 27px;
}

.total-cart {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.line-separator {
  border-top: solid 2px rgba(120, 120, 120, 0.2);
  margin-left: 90px;
}

.quantity {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: -5px;
  margin-bottom: 14px;
}
