        <%# -------> DISEÑA TU CAJA BUTTON <------- %>
        <div class="button-container">
            <img src="https://res.cloudinary.com/dqstmox0s/image/upload/c_scale,w_50/v1601303465/Components/open_neipzk.png" alt="" class="box-position">
            <%= link_to "Diseña tu caja", "#", class: "orange-button"%>
        </div>