<%# -------> CONTACT SECTION <------- %>
<div class="contact-section">
    <div class="contact-col">
        <p>Sobre nosotros</p>
        <p>Blog</p>
        <p>Contáctanos</p>
    </div>
    <div class="contact-col">
        <p>Carta de alérgenos</p>
        <p>Política de privacidad</p>
        <p>Aviso legal</p>
    </div>
</div>
<%# -------> SOCIAL MEDIA SECTION <------- %>
<div class="social-media-section">
    <ul class="social-media-flex">
        <li><i class="fab fa-instagram social-media-icon"></i></li>
        <li><i class="fab fa-facebook-square social-media-icon"></i></li>
        <li><i class="fab fa-twitter social-media-icon"></i></li>
        <li><i class="fab fa-pinterest social-media-icon"></i></li>
    </ul>
</div>