    <%= render 'shared/navbar' %>
    <%= render 'shared/banner' %>


<div class="main-container">
    <%= link_to "Nuestra tienda", "#", class: "large-button"%>


    <h2 class="mt-5 mb-5 landing-title">Los más vendidos</h2>

    <div class="bestseller-section mb-5">

        <div class="card-container mr-4">
            <img src="https://res.cloudinary.com/dqstmox0s/image/upload/v1600957640/Components/photo-1555507036-ab1f4038808a_c6ef0k.jpg" alt="Croissant" class=bestseller-img>
            <div class="bestseller-h3">
                <h3>Croissant</h3>
            </div> 
        </div>

        <div class="card-container mr-4">
            <img src="https://res.cloudinary.com/dqstmox0s/image/upload/v1600957642/Components/photo-1587339144367-f1cacbecac82_uimzwz.jpg" alt="Croissant" class=bestseller-img>
            <div class="bestseller-h3">
                <h3>Pancakes</h3>
            </div> 
        </div>

        <div class="card-container mr-4">
            <img src="https://res.cloudinary.com/dqstmox0s/image/upload/v1600958432/Components/photo-1572928899385-6dc3b05531ce_vkbr3u.jpg" alt="Croissant" class=bestseller-img>
            <div class="bestseller-h3">
                <h3>Macarons</h3>
            </div> 
        </div>

    </div>

</div>