<%= render 'shared/navbar' %>
<%= render 'shared/banner' %>
<img src="https://res.cloudinary.com/dqstmox0s/image/upload/v1597920779/Points_ndctj0.png" alt="">

<div class="large-button">
    <a href="#">Nuestra tienda</a>
</div>