<%= render 'shared/navbar' %>

<div class="big-container">
    <div class="main-container">
        <div class="cart-content">
            <div class="cart-card">
                <img src="https://res.cloudinary.com/dqstmox0s/image/upload/v1600957640/Components/photo-1555507036-ab1f4038808a_c6ef0k.jpg" alt="">
                <div class="first-part">
                    <h4>Desayuno para 2</h4>
                    <p>quitar</p>
                </div>
                <div class="second-part">
                    <h4>1</h4>
                    <h4>16,20 €</h4>
                </div>
            </div>
            <div class="line-separator"></div>
            <div class="cart-card">
                <img src="https://res.cloudinary.com/dqstmox0s/image/upload/v1600957642/Components/photo-1587339144367-f1cacbecac82_uimzwz.jpg" alt="">
                <div class="first-part">
                    <h4>Desayuno para 2</h4>
                    <p>quitar</p>
                </div>
                <div class="second-part">
                    <h4>1</h4>
                    <h4>16,20 €</h4>
                </div>
            </div>
            <div class="line-separator"></div>
            <div class="cart-card">
                <img src="https://res.cloudinary.com/dqstmox0s/image/upload/v1600958432/Components/photo-1572928899385-6dc3b05531ce_vkbr3u.jpg" alt="">
                <div class="first-part">
                    <h4>Desayuno para 2</h4>
                    <p>quitar</p>
                </div>
                <div class="second-part">
                    <h4>1</h4>
                    <h4>16,20 €</h4>
                </div>
            </div>
            <div class="line-separator"></div>
            <div class="cart-card">
                <img src="https://res.cloudinary.com/dqstmox0s/image/upload/v1600958432/Components/photo-1572928899385-6dc3b05531ce_vkbr3u.jpg" alt="">
                <div class="first-part">
                    <h4>Desayuno para 2</h4>
                    <p>quitar</p>
                </div>
                <div class="second-part">
                    <h4>1</h4>
                    <h4>16,20 €</h4>
                </div>
            </div>
            <div class="line-separator"></div>
            <div class="total-cart">
            <h3 class="total">Total</h3>
            <h3 class="quantity">81,00 €</h3>
            </div>
        </div>
        <%= link_to "Nuestra tienda",products_path , class: "large-button mt-2"%>
    </div>
</div>