.banner-img {
    object-fit: cover;
    height: 68vh;
    width: 100%;
    display:flex;
    
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    margin: 6px;
    border-radius: 100%;
    background-color: rgb(90, 90, 90);
  }

  ol.carousel-indicators li.active {
    background-color: rgb(20, 20, 20);
  }

  ol.carousel-indicators {
      position:relative
  }

  .control-position {
    background-color: $black;
    height: 40px;
    width: 40px;
    position: absolute;
  }

  .control-flex {
    display:flex;
    justify-content: space-between
  }

  .control-prev {
    top: 40%;
    left: -6%;
  }

  .control-next {
    top: 40%;
    right: -6%;
  }

  .carousel-inner {
    position: relative;
    display:flex;
  }

  .main-carousel {
    overflow-x: hidden;
  }

  @media only screen and (min-height: 500px) and (max-width: 450px) {
    .banner-img {
      object-fit: cover;
      height: 56vh;
      width: 100%;
      display:flex;
    }
  }

  @media only screen and (min-height: 600px) and (max-width: 450px) {
      .banner-img {
        object-fit: cover;
        height: 59vh;
        width: 100%;
        display:flex;
    }
  }

  @media only screen and (min-height: 720px) and (max-width: 450px) {
    .banner-img {
      object-fit: cover;
      height: 61vh;
      width: 100%;
      display:flex;
  }
}

@media only screen and (max-width: 450px) {
  .control-prev {
    display:none;
  }

  .control-next {
    display:none;
  }
}