.navbar-lewagon {
  justify-content: space-between;
  background-color: $white;
  position: sticky;
  top: 0;
  z-index: 50;}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
  height: 110px;
  left: 85px;
}

.navbar-toggler {
  border: none;
  margin-top: -50px;
  margin-left: -12px;
}

.navbar-cart {
  margin-top: -50px;
}

.navbar-brand {
  margin-right: 0;

}

.navbar-menu {
  margin-top: -45px;
}

.dropdown-menu-custom {
position: absolute !important;
float: right !important;
}

.dropdown-position {
  margin-top: -80px;
  margin-left: 30px;
}

@media only screen and (max-width: 450px) {
  .navbar-lewagon .navbar-brand img {
    width: 60vw;
    height: 18vh;
    left: 80px;
  }

  .navbar-lewagon {
    justify-content: space-between;
    background-color: $white;
    position: sticky;
    top: 0;
    z-index: 50;
    height: 22vh;
  }
}


