.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position:fixed;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 210px;
  height: 110px;
  position: absolute;
  left: 85px;
}

.navbar-toggler {
  border: none;
  position: absolute;
  top: 30px;
  left: 0px;
}

.navbar-cart {
  position: absolute;
  right:-320px;
  top:30px;
}
