.large-button {
    height: 60px;
    width: 385px;
    text-align: center;
    // color: $white;
    // background-color: #209DA2;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
}