<%= render 'shared/navbar' %> <%# -------> PILLS <------- %>


<div class="products">
  <div class="products__tab-container">
    <a class="products__tab products__tab--1 products__tab--active" data-tab="1"
      ><h4>Desayunos</h4></a
    >
    <a class="products__tab products__tab--2" data-tab="2"><h4>Buffet</h4></a>
    <a class="products__tab products__tab--3" data-tab="3"><h4>Bandejas</h4></a>
  </div>

  <div class="products__content products__content--1 products__content--active">
    <p>Tab 1! :)</p>
  </div>
  <div class="products__content products__content--2">
    <p>Tab 2! :)</p>
  </div>
  <div class="products__content products__content--3">
    <p>Tab 3! :)</p>
  </div>

</div>
<div id="mainDiv">
  <div id="borderLeft"></div>
</div>