<%= render 'shared/navbar' %>
<%# -------> PILLS <------- %>
<div class="big-container">
    <div class="main-container">
            <ul class="nav nav-pills tab-menu mt-3 pills-container" id="pills-tab" role="tablist">
                <li class="">
                    <a class="product-pill " id="own-events-tab" data-toggle="pill" href="#desayunos" role="tab" aria-controls="aperitive" aria-selected="true"><h4>Desayunos</h4></a>
                </li>
                <li class="">
                    <a class="product-pill" id="applied-events-tab" data-toggle="pill" href="#buffet" role="tab" aria-controls="beer" aria-selected="false"><h4>Buffet</h4></a>
                </li>
                <li class="">
                    <a class="product-pill" id="favorites-tab" data-toggle="pill" href="#bandejas" role="tab" aria-controls="rum" aria-selected="false"><h4>Bandejas</h4></a>
                </li>
            </ul>
    </div>
</div>